<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <h2>Users</h2>
    <br>
</head>
<div class="column">
<table class="table datatable">
    <thead>
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Operations</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${usersList}">

        <td th:text="${user.firstName}">Text ...</td>
        <td th:text="${user.lastName}">Text ...</td>
        <td th:text="${user.email}">Text ...</td>
        <td>
            <form action="#" th:action="@{/update(id=${user.id})}" method="post">
                <button type="submit">Update</button>
            </form>
        </td>
        <td>
            <form action="#" th:action="@{/delete(id=${user.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>

    </tr>
    </tbody>
</table>
    <br>
    <input type="button" value="Add"
    onclick="window.location.href = 'addNewUser'"/>
</html>