<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>

</head>
<body>
<div th:style="'line-height: 3;'">

<form th:method="POST" th:action="@{/saveUser}" th:object="${user}">
    <input type="hidden" th:field="${user.id}" />
    <label for="email">Email </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email incorrect</div>
    <br/>
    <label for="name">Name </label>
    <input type="text" th:field="*{firstName}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name incorrect</div>
    <br/>
    <label for="surname">Surname </label>
    <input type="text" th:field="*{lastName}" id="surname"/>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Surname incorrect</div>
    <br/>
    <input type="submit" value="Create"/>
</form>
</div>

</body>
</html>